<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Container" />
  <assembly name="AppManagerService" />
  <assembly name="AppManagerInterface" />
  <assembly name="NewTesstApp" />
  
  <namespace name="Container" />
  <namespace name="AppManagerService" />
  <namespace name="AppManagerInterface" />
  <namespace name="NewTesstApp" />
  
  <container>
    <register type="IScheduledTask" mapTo="TestApp" name="ParamTEST">
      <property name="TimerCron" value="*/1 * * * *" />
    </register>
  </container>

<!--  * * * * *  Cron Help
      = = = = =
      | | | | |
      | | | | +===== day of week (0 - 6) (Sunday=0)
      | | | +======= month (1 - 12)
      | | +========= day of month (1 - 31)
      | +=========== hour (0 - 23)
      +============= min (0 - 59)-->  
  
</unity>