<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="log4net.config"/>

  <appSettings>
    <add key="SmtpHost" value="debugmail.io"/>
    <add key="SmtpLogin" value="ampilonov.a@gmail.com"/>
    <add key="SmtpPass" value="dd54faf0-078c-11e8-8c0d-e34c4746c3e2"/>
    <add key="EmailFrom" value="ampilonov.a@gmail.com"/>
    <add key="EmailTo" value="toyeka@mail.ru"/>
  </appSettings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
